{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block stylesheets %}

{{ parent() }}



{%  endblock %}


{% block body %}

    {{ parent() }}






    <div class="float-left">

        <div class="wrapper bg-dark " style="width: 300px ;height:800px;">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header text-white">
                    <h3>book exchanger</h3>
                </div>

                <ul class="list-unstyled components text-light">
                    <br>
                    <br>
                    <p>this your profile {{ user.getUserName }} </p>
                    <br>

                    <img class="img-thumbnail img-circle" height="100%" preserveAspectRatio="xMidYMid slice" width="100%"
                         src="{{ extract(null) }}"
                         style="height: 168px; width: 168px;">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                           class="dropdown-toggle">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">mes echanges</a>
                    </li>

                    <li>
                        <a href="#">mes abonnements</a>
                    </li>

                    <li>
                        <a href="#">mes livres</a>
                    </li>

                    <li>
                        <a href="#">Settings</a>r
                </ul>
            </nav>

        </div>

    </div>



    <table style="position:relative; right:-400px " class="position-relative" >

        <tr>
            <td colspan="2">
                <label>
                    <textarea cols="60" role="textbox">  Créer une publication  </textarea>
                </label>

            </td>

        </tr>

        <tr>

            <td width="40px">
                <input type="file" accept="image/*,image/heif,image/heic,video/*,video/mp4,video/x-m4v,video/x-matroska"
                       class="mkhogb32" multiple="">
            </td>

            <td>
    <span> <img draggable="false" height="20" width="20" alt=""
                src="https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/6C1aT2Hm3x-.png"></span><span
                        dir="auto">Photo/Vidéo</span>
                <div class="n00je7tq arfg74bv qs9ysxi8 k77z8yql i09qtzwb n7fi1qx3 b5wmifdl hzruof5a pmk7jnqg j9ispegn kr520xx4 c5ndavph art1omkt ot9fgl3s"
                     data-visualcompletion="ignore"></div>
            </td>   </tr>



    </table>







{% endblock %}
