{% extends "profile/index.html.twig" %}




{% block body %}

{{ parent() }}



    {% for livre in meslivres   %}

        <div class="float-left " style="margin-left:10px">

        <a href="{{ path('livre',{'bookId':livre.id}) }}">

            <div style="width:250px" class="card float-left">

                <div class="card-body"> 
                <img style="width: 200px;height: 270px" class="card-img-top" src="{{asset('book_photo/'~livre.headshot)}}" 
                    alt="Card image cap">

                </div>

                <div class="card-header " style="margin-bottom: 0px">
                    <h5 class="card-title text-center">{{  livre.title}}</h5>

                </div>
        </a>

        </div>
{% endfor %}


{% endblock %}