{% extends 'base.html.twig' %}

{% block title %}Book Exchanger{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Book Exchanger</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to Book Exchanger ✅</h1>

    This WebSite is still in developpement
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/dev/Web/ProjetWeb/ProjetWeb/src/Controller/WelcomeController.php'|file_link(0) }}">src/Controller/WelcomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/dev/Web/ProjetWeb/ProjetWeb/templates/welcome/welcome.html.twig'|file_link(0) }}">templates/welcome/welcome.html.twig</a></code></li>
    </ul>
</div>
<a href="{{ path('app_login') }}" class="btn btn-primary">Sign In</a>
<a href="{{ path('signup') }}" class="btn btn-primary">Sign Up</a>
{% endblock %}
