.me{
    font-size: 20px;
    border-bottom: black;}
.a{
    margin: 5px;}
#book_img{
    width:300px ;
    height:400px;
    vertical-align:middle;
}

table{
    width: 100%;
}


.b{
    width: 40%;
    height:400px;
    position: relative;
    overflow: hidden; }
.tab{
    width:800px ;
    height: 400px;
    margin-top: 9px;  }

.card{
    width: 20%;
    height: 400px;
    margin-right: 20px;
    margin-top: 10px;
}



.card div img {
    width: 80%;
    height: 75%;
    align-self: center;
    margin-left: 25px;
    margin-right: 25px;
}
 #test{

     color: #0b51c5;
 }

