<!DOCTYPE html>
<html  lang="fr">
    <head>
        <meta charset="UTF-8">
        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> 
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset("node_modules/bootstrap/dist/css/bootstrap.css") }}">
            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/base_style.css') }}">
            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}">


        {% endblock %}
    </head>
    <body>
        {% block body %}

            <div style="margin-bottom:100px">

                <nav  class="navbar navbar-inverse navbar-expand-lg navbar-dark fixed-top bg-dark ">

                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">WebSiteName</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <button class="button">Home</button></li>
                            <li><button class="button">setting</button></li>
                            <li><button class="button">page</button></li>

                            <li><a href="www.google.com" class="fa fa-home"> home</a> </li>
                        </ul>

                        <form class="navbar-form navbar-left" action="/action_page.php">
                            <div class="form-group float-left">
                                <input type="text" class="form-control " placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default bg-success">Submit</button>
                        </form>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                           <li> <h1 id="sou" class="border-danger">souheil</h1>  </li>

                        </ul>
                    </div>
                </nav>

            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>     
    </html>
