<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> 
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>     
    </html>
