<!DOCTYPE html>
<html  lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}


            <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
<!--

            <div id="head"> <div class="table viewport vam full back">
                    <div class="td viewport_right vam tam">
                        <span class="subm vam inline nos"><a class="suba i-menu _onmob nohide" rel="#right"></a></span>
                        <a href="https://feta.egybest.rocks/" class="logo vam"></a>
                    </div>
                    <div class="topsrch suba_rel nohide td vam">
                        <form class="autoComplete search inline" method="get" action="/explore/"> <input type="submit" class="hide">
                            <i class="i-close p _clear vam hide"></i>
                            <input class="q autoComplete" name="q" type="text" value="" autocomplete="off" placeholder="search for a book ">
                            <i class="i-srch p _submit vam"></i>
                            <div class="slist ltr hide"></div>
                        </form>
                    </div>
                    <div class="user td vam tal">
                        <div class="subm nos">
                            <a href="" class="btn g vam"><i class="i-user nomob"></i> home</a>
                            <a class="suba i-srch _onmob nohide" rel=".topsrch"></a>
                        </div>
                    </div>
                    <div class="viewport_left td vam" align="center">
                        <a href="https://secure.egexa.com/login/?domain=egybest.rocks&amp;url=ref" class="btn b vam">deconnect</a>
                    </div>
                </div>
            </div>
-->


            <div>

                <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">

                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">WebSiteName</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                        </ul>

                        <form class="navbar-form navbar-left" action="/action_page.php">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    </div>
                </nav>

            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
