<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../public/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>


<div class="float-left">

    <div class="wrapper bg-dark " style="width: 300px ;height:800px;">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header text-white">
                <h3>book exchanger</h3>
            </div>

            <ul class="list-unstyled components text-light">
                <br>
                <br>
                <p>this your profile </p>
                <br>

                <img class="img-thumbnail img-circle" height="100%" preserveAspectRatio="xMidYMid slice" width="100%"
                     src="livre/sou.jpg"
                     style="height: 168px; width: 168px;">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">mes echanges</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
            </ul>
        </nav>

    </div>

</div>



</body>
</html>