<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{}}">
</head>
<body>

<table class="">
    <thead>
    <tr>
        <th>الجودة</th>
        <th>الدقة</th>
        <th>الحجم</th>
        <th>التحميل</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>BluRay</td>
        <td>Full HD 1080p <i class="i-pc"></i></td>
        <td>1.3GB</td>
        <td class="tar"><a class="nop btn g dl _open_window"
                           data-url="/api?call=wWWWFfGNlwoEfYFWLUCWLcCFUEAUUFUsFWFiDWFWLWFxUUfClDUAWUlWFLFWFwojWFWLWFUXcFWmkACLWmikFLFWFwoVWFWLWFUCLUWUClLwWFLFWFEhZWFWLWFwUodTYwAEhqVtWFLFWFVoDFWLWFGoDoVoYpqLAWFLFWFWbUWFWLWFOhqwFWqawwFwvnfAWVUoVFRtWFWl&amp;auth=b7ec3344b5c5728a519a3aa8562fe6e5"><i
                class="i-dl"></i> تحميل</a>
            <a class="nop btn b dl _open_window"
               data-url="/api?call=wWWWFfGNlwoEfYFWLUCWLcCFUEAUUFUsFWFiDWFWLWFxUUfClDUAWUlWFLFWFwojWFWLWFUXcFWmkACLWmikFLFWFwoVWFWLWFUCLUWUClLwWFLFWFEhZWFWLWFwUodTYwAEhqVtWFLFWFVoDFWLWFGoDoVoYpqLAWFLFWFWbUWFWLWFOhqwFWqawwFwvnfAWVUoVFRtWFWl&amp;auth=b7ec3344b5c5728a519a3aa8562fe6e5&amp;v=1"><i
                    class="i-playc"></i> مشاهدة</a>
        </td>
    </tr>
    <tr>
        <td>BluRay</td>
        <td>HD 720p <i class="i-lap"></i></td>
        <td>610.4MB</td>
        <td class="tar"><a class="nop btn g dl _open_window"
                           data-url="/api?call=RfffgvUXgfBfgnUXUvUAZuBtfgBgfgTnoMQUCTAgfBSHfBrHgSCtSSgSYgfgCbyfgfBfgQSUxqAQtCbuvwfgBgfgQUvfgfBfgSHBSfSHMBDgBgfgQUzfgfBfgSkrgfEDtHBfENDgBgfgfFSfgfBfgabuQgfuOQQgQslTtfvSUvgWwfgBgfgNXfgfBfgdSSTHMXStfSMfgfM&amp;auth=9e995924d7cb7c7a1d2fb1197cdd30e2"><i
                class="i-dl"></i> تحميل</a>
            <a class="nop btn b dl _open_window"
               data-url="/api?call=RfffgvUXgfBfgnUXUvUAZuBtfgBgfgTnoMQUCTAgfBSHfBrHgSCtSSgSYgfgCbyfgfBfgQSUxqAQtCbuvwfgBgfgQUvfgfBfgSHBSfSHMBDgBgfgQUzfgfBfgSkrgfEDtHBfENDgBgfgfFSfgfBfgabuQgfuOQQgQslTtfvSUvgWwfgBgfgNXfgfBfgdSSTHMXStfSMfgfM&amp;auth=9e995924d7cb7c7a1d2fb1197cdd30e2&amp;v=1"><i
                    class="i-playc"></i> مشاهدة</a>
        </td>
    </tr>
    <tr>
        <td>BluRay</td>
        <td>SD 480p <i class="i-tab"></i></td>
        <td>300.7MB</td>
        <td class="tar"><a class="nop btn g dl _open_window"
                           data-url="/api?call=KRRRzsEZzRVRzDEZEsEryQVCRzVzRzlxBRzRVRzMPEcjrMClxQsURzVzRzRkPRzRVRzFxQMzRQbMMzMehYCRsPEszTURzVzRzYDKiMElYrzRVPnRVwnzPlCPPzPIzRzMEsRzRVRzPnVPRPnzPTzVzRzqZRzRVRzmPPYniZPCRPiRzVzRzMEARzRVRzPtwzRaXCnVRaqXzRi&amp;auth=8888f2a5bf34f570354ca4c61fb784cd"><i
                class="i-dl"></i> تحميل</a>
            <a class="nop btn b dl _open_window"
               data-url="/api?call=KRRRzsEZzRVRzDEZEsEryQVCRzVzRzlxBRzRVRzMPEcjrMClxQsURzVzRzRkPRzRVRzFxQMzRQbMMzMehYCRsPEszTURzVzRzYDKiMElYrzRVPnRVwnzPlCPPzPIzRzMEsRzRVRzPnVPRPnzPTzVzRzqZRzRVRzmPPYniZPCRPiRzVzRzMEARzRVRzPtwzRaXCnVRaqXzRi&amp;auth=8888f2a5bf34f570354ca4c61fb784cd&amp;v=1"><i
                    class="i-playc"></i> مشاهدة</a>
        </td>
    </tr>
    <tr>
        <td>BluRay</td>
        <td>SD 360p <i class="i-mob"></i></td>
        <td>190.5MB</td>
        <td class="tar"><a class="nop btn g dl _open_window"
                           data-url="/api?call=OsssxFVTsxstsxeEUlOgeRFVnmAsxtxsxDrPCeUFDgxstEGstwGxEFREExENxsxBLsxstsxhEEDGCLERsECsxtxsxmULxstsxrULUmUgvntRsxtxsxsMEsxstsxXVnexsnkeexepYDRsmEUmxHAsxtxsxeUmsxstsxEGtEsEGCExsxtxsxeUasxstsxEuwxszyRGtszByxsC&amp;auth=1b7583683a06e4dc6f0f8ab629997e03"><i
                class="i-dl"></i> تحميل</a>
            <a class="nop btn b dl _open_window"
               data-url="/api?call=OsssxFVTsxstsxeEUlOgeRFVnmAsxtxsxDrPCeUFDgxstEGstwGxEFREExENxsxBLsxstsxhEEDGCLERsECsxtxsxmULxstsxrULUmUgvntRsxtxsxsMEsxstsxXVnexsnkeexepYDRsmEUmxHAsxtxsxeUmsxstsxEGtEsEGCExsxtxsxeUasxstsxEuwxszyRGtszByxsC&amp;auth=1b7583683a06e4dc6f0f8ab629997e03&amp;v=1"><i
                    class="i-playc"></i> مشاهدة</a>
        </td>
    </tr>
    <tr>
        <td>BluRay</td>
        <td>Low 240p <i class="i-mob"></i></td>
        <td>112.6MB</td>
        <td class="tar"><a class="nop btn g dl _open_window"
                           data-url="/api?call=wWWWFWbUWFWLWFOhqwFWqawwFwvnfAWVUoVFRtWFLFWFfGNlwoEfYFWLUCWLcCFUEAUUFUsFWFwojWFWLWFUXcFWmkACLWmikFLFWFwoVWFWLWFUCLUWUCFUYFLFWFEhZWFWLWFwUodTYwAEhqVtWFLFWFiDWFWLWFxUUfClDUAWUlWFLFWFVoDFWLWFGoDoVoYpqLAWFWl&amp;auth=045f61d30038de836d26a61bfdf641ed"><i
                class="i-dl"></i> تحميل</a>
            <a class="nop btn b dl _open_window"
               data-url="/api?call=wWWWFWbUWFWLWFOhqwFWqawwFwvnfAWVUoVFRtWFLFWFfGNlwoEfYFWLUCWLcCFUEAUUFUsFWFwojWFWLWFUXcFWmkACLWmikFLFWFwoVWFWLWFUCLUWUCFUYFLFWFEhZWFWLWFwUodTYwAEhqVtWFLFWFiDWFWLWFxUUfClDUAWUlWFLFWFVoDFWLWFGoDoVoYpqLAWFWl&amp;auth=045f61d30038de836d26a61bfdf641ed&amp;v=1"><i
                    class="i-playc"></i> مشاهدة</a>
        </td>
    </tr>
    </tbody>
</table>

</html>