<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="public/node_modules/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="public/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="teststyle.css">


</head>
<body>






<div class="swiper-container home-slider  swiper-container-initialized swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
        <div class="swiper-slide registration-description bg-left swiper-slide-active" style="width: 966px;">
            <div class="slide-container pt-lg-5 pb-5">
                <div class="img">
                    <img src="https://www.arabcoders.ae/frontend_v3/assets/img/slider/7.jpg" alt="slide" class="mb-4 mb-lg-0">
                </div>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col col-lg-6 offset-lg-6">
                            <h3>Take the leap towards career ascension, for Free</h3>
                            <p>No previous programming experience required. Study at your own pace. Industry-class courses and certifications.<br><b>Select the course of your choice</b>.</p>
                            <a class="btn btn-lg btn-primary" href="https://www.arabcoders.ae/enroll">SHOW ME ALL TRACKS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->

    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>






</body>
</html>